.board-wrapper {
  .board-wrapper__header {
  }
  .board-wrapper__center {
    height: 85%;
    width: 100vw;
    background-image: url(boards-show.jpg);
    .board-wrapper_upper {

    }
    .board-wrapper_bottom {

    }
  }
}