.board-wrapper {
  height: 100vh;
  width: 100vw;

  &__header {
    height: 15%;
    width: 100%;
    background-image: url(boards-header.jpg);
    background-size: 100%;
    display: flex;
    &__left {
      height: 50%;
      width: 50%;
      color: rgb(95, 10, 10);
      text-shadow:  20px 20px 20px black;
      font-weight: bold;
      text-align: center;
      font-size: 70px;
      line-height: 90px;
      margin-top: 30px;
      margin-left: 550px;
    }
    &__right {
      height: 50%;
      width: 20%;
      background-color: rgb(223, 204, 97);
      color: rgb(214, 74, 39);
      font-weight: bold;
      font-size: 50px;
      line-height: 90px;
      text-align: center;
      margin-top: 30px;
    }
  }
  &__container {
    height: 85%;
    width: 100%;
    background-image: url(boards-hover.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    &__box {
      height: 100%;
      width: 80%;
      margin: 0 auto;
      .form_box {
        height: 100%;
        width: 80%;
        text-align: center;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 0 auto;

        .form_title {
          height: 100px;
          border: 5px rgb(90, 88, 88) solid;
          margin-top: 100px;
          font-size: 50px;
        }
        .form_title::placeholder {
          font-size: 30px;
          top: 0.8em;
          left: 0.5em;
        }
        .form_content {
          height: 600px;
          border: 5px rgb(90, 88, 88) solid;
          font-size: 50px;
          margin-top: 50px;
        }
        .form_content::placeholder {
          font-size: 30px;
          position: relative;
          top: 0.3em;
          left: 0.5em;
        }
        .form__btn {
          height: 70px;
          width: 120px;
          background-color: gray;
          color: rgb(97, 97, 158);
          font-weight: bold;
          border: 5px rgb(90, 88, 88) solid;
          margin-top: 70PX;
          margin-left: 600px;
          
        }
      }
    }
  }
}