
%body
  .board-wrapper
    .board-wrapper__header
      %h1 Welcome!　chat-boards
    .board-wrapper__link-box
      %ul.link-box__left
        %li.link-box__left_login
          %h1 Let's login
        %li.link-box__left__create
          %h1 Create an account

      %ul.link-box__right
        %li.link-box__right_facebook
          %h1 facebook
        %li.link-box__right_twitter
          %h1 twitter


