.board-wrapper
  .board-wrapper__header
    .board-wrapper__header__left
      Let's write a headline!
    .board-wrapper__header__right
      HOME
  .board-wrapper__container
    .board-wrapper__container__box
      = form_with(model: @board, local: true) do |form|
        = form.text_field :title, placeholder: "タイトル", class: :form_title
        = form.text_field :content,placeholder: :chatの説明文, class: :form_content
        = form.submit '投稿する',class: :form__btn

